/target
/pkg
/split_tmp

# Local usage of LLMs is allowed,
# but don't create a garbage file for them in repo
AGENTS.md
CLAUDE.md
# temp files
plan.txt
test.txt
test-output/*
# insta snapshot NEW files
**/*.snap.new